# Quartus Prime Project / Compilation Files
db/
incremental_db/
output_files/
simulation/
timing/
greybox_tmp/
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.qws
*.bak
*.qdf
*.pof
*.sof
*.qarlog
*.qmsg
*.jic
*.map
*.fit
*.snf
*.dpf
*.ammdb
*.bpm
*.cdb
*.hdb
*.log
*.kpt
*.bxml
*.qws
*.ddb
*.sci

# ModelSim / Questa
work/
transcript
*.wlf
modelsim.ini
vsim.wlf
*.mpf
_info
*.qdb
*.qtl
*.qpg
*.cdf
